.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(https://i1.wp.com/risetcdn.jatimtimes.com/images/2025/08/04/6f2045826161.jpg?quality=50);
  background-size: contain;
  background-position: center;
  margin: 10px;
}